.setup	
MODE=scroll
SHOW_COLORS=true
MODE_START=scroll
.setup_end

#section that maps tap_type names to other info
.tag_type

trace_1;description,"This is an internal operation for trace 1";name,"Trace 1";init_display,true
trace_2;description,"This is an internal operation for trace 2";name,"Trace 2";init_display,false

trace_1_moi;description,"This is an misaligned microcode op for trace 1";name,"Trace 1 Moi";move_assoc,true;init_display,true
trace_2_moi;description,"This is an misaligned microcode op for trace 2";name,"Trace 2 Moi";move_assoc,true;init_display,false

#section that maps event_type names pipe symbols
.event_type


fetch;symbol,F;show,true;color,blue;description,"fetch initiated"
data_back;symbol,V;show,true;color,blue;description,"fetch data back"
bt_calc;symbol,B;show,true;color,blue;description,"branch prediction occured"
clb;symbol,b;show,true;color,blue;description,"instruction installed in the CLB (instruction buffer)"
decode;symbol,D;show,true;color,blue;description,"instruction in one stage of decode"
decode_bubble;symbol,^;show,true;color,blue;description,"decode bubble due microcode"
dispatch;symbol,M;show,true;color,green;description,"instruction is dispatched"
issue;symbol,I;show,true;color,black;description,"instruction is issued"
fx0_unit;symbol,0;show,true;color,blue;description,"in fx0 unit at register file cycle"
fx1_unit;symbol,1;show,true;color,blue;description,"in fx1 unit at register file cycle"
lsu0_unit;symbol,2;show,true;color,blue;description,"in lsu0 unit at register file cycle"
lsu1_unit;symbol,3;show,true;color,blue;description,"in lsu1 unit at register file cycle"
fpu0_unit;symbol,4;show,true;color,blue;description,"in fpu0 unit at register file cycle"
fpu1_unit;symbol,5;show,true;color,blue;description,"in fpu1 unit at register file cycle"
br_unit;symbol,6;show,true;color,blue;description,"in br unit at register file cycle"
cr_unit;symbol,7;show,true;color,blue;description,"in cr unit at register file cycle"
complete;symbol,C;show,true;color,blue;description,"instruction completed"

#vmx
vmx_store_cannot_issue_fp_block;symbol,F;show,true;color,red;description,"vmx store cannot issue due fp op blocking it"
vmx_cannot_issue_result_bus_busy;symbol,R;show,true;color,red;description,"vmx op cannot issue due to result bus busy"
vmx_op_in_private_issue_q;symbol,n;show,true;color,blue;description,"vmx op entered private issue queue"
vmx_op_in_shared_issue_q;symbol,m;show,true;color,blue;description,"vmx op entered shared issue queue"
vmx_store_data_unit;symbol,a;show,true;color,black;description,"in vmx store data unit at register file cycle"
vmx_permute_unit;symbol,b;show,true;color,black;description,"in vmx permute unit at register file cycle"
vmx_simple_unit;symbol,c;show,true;color,black;description,"in vmx simple unit at register file cycle"
vmx_complex;symbol,d;show,true;color,black;description,"in vmx complex unit at register file cycle"
vmx_float_unit;symbol,e;show,true;color,black;description,"in vmx float unit at register file cycle"


isu_reject_srcs_not_ready;symbol,S;show,true;color,red;description,"isu reject due to sources not ready"
execute;symbol,E;show,true;color,black;description,"instruction in execute cycle"
finish;symbol,f;show,true;color,black;description,"instruction finished"
cannot_issue_srcs_not_ready;symbol,s;show,true;color,red;description,"cannot issue sources not ready"
cannot_issue_unit_not_free;symbol,u;show,true;color,red;description,"cannot issue unit not free"
reject_addr_failed_d_erat_trans;symbol,t;show,true;color,red;description,"reject failed d_erat address translation"
store_forward_finish;symbol,s;show,true;color,black;description,"store forward finish"
cannot_issue_no_lrq;symbol,l;show,true;color,red;description,"cannot issue due to no LRQ (load reorder queue) entry free"
cannot_issue_no_srq;symbol,r;show,true;color,red;description,"cannot issue due to no SRQ (store reorder queue) entry free"
cannot_issue_serialize;symbol,S;show,true;color,red;description,"cannot issue due to serialized but not NTC (next to complete)"
cannot_issue_emq_deadlock_fix;symbol,E;show,true;color,red;description,"cannot issue due to EMQ deadlock fix"

cannot_issue_WAR;symbol,w;show,true;color,red;description,"cannot issue due WAR data hazzard"
reject_WAR;symbol,W;show,true;color,red;description,"rejected due to WAR data hazzard"

dispatch_hold_vmx_register_renames;symbol,v;show,true;color,red;description,"dispatch hold due to lack of vmx register renames"
dispatch_hold_completion_table_full;symbol,c;show,true;color,red;description,"dispatch hold due to completion table full (GCT)"
dispatch_hold_ran_out_of_lrqs;symbol,l;show,true;color,red;description,"dispatch hold due to lack of LRQ (load reorder queue) entry"
dispatch_hold_ran_out_of_srqs;symbol,s;show,true;color,red;description,"dispatch hold due to lack of SRQ (store reorder queue) entry"
dispatch_hold_fx_issue_queue_full;symbol,x;show,true;color,red;description,"dispatch hold due to fx issue queue full"
dispatch_hold_br_issue_queue_full;symbol,b;show,true;color,red;description,"dispatch hold due to br issue queue full"
dispatch_hold_cr_issue_queue_full;symbol,c;show,true;color,red;description,"dispatch hold due to cr issue queue full"
dispatch_hold_fp_issue_queue_full;symbol,f;show,true;color,red;description,"dispatch hold due to fp issue queue full"
dispatch_hold_vmx_issue_queue_full;symbol,v;show,true;color,red;description,"dispatch hold due to vmx issue queue_full"
dispatch_hold_gpr_register_renames;symbol,1;show,true;color,red;description,"dispatch hold due to lack of gpr register renames"
dispatch_hold_fpr_register_renames;symbol,2;show,true;color,red;description,"dispatch hold due to lack of fpr register renames"
dispatch_hold_cr_register_renames;symbol,3;show,true;color,red;description,"dispatch hold due to lack of cr register renames"
dispatch_hold_xer_register_renames;symbol,4;show,true;color,red;description,"dispatch hold due to lack of xer register renames"
dispatch_hold_lkct_register_renames;symbol,5;show,true;color,red;description,"dispatch hold due to lack of link and count register renames"
dispatch_hold_serialized_op;symbol,1;show,true;color,red;description,"dispatch hold due to serialized op"
dispatch_hold_ran_out_of_biqs;symbol,b;show,true;color,red;description,"dispatch hold due to ran out of biqs"
dispatch_hold_isync_hold;symbol,i;show,true;color,red;description,"dispatch hold due to isync hold"
dispatch_hold_sync_hold;symbol,i;show,true;color,red;description,"dispatch hold due to sync hold"
dispatch_hold_spr_hold;symbol,i;show,true;color,red;description,"dispatch hold due spr writter out and reader waiting"
dispatch_hold_flush_window;symbol,w;show,true;color,red;description,"dispatch hold due to flush window hold"

dispatch_flush_completion_table_full;symbol,C;show,true;color,red;description,"dispatch flush due to completion table full"
dispatch_flush_ran_out_of_lrqs;symbol,L;show,true;color,red;description,"dispatch flush due to ran out of LRQ (load reorder queue)"
dispatch_flush_ran_out_of_srqs;symbol,S;show,true;color,red;description,"dispatch flush due to ran out of SRQ (store reorder queue)"
dispatch_flush_spr_hold;symbol,I;show,true;color,red;description,"dispatch flush due to spr hold"
dispatch_flush_isync_hold;symbol,I;show,true;color,red;description,"dispatch flush due to isync_hold"
dispatch_flush_sync_hold;symbol,S;show,true;color,red;description,"dispatch flush due to sync hold"
dispatch_flush_fx_issue_queue_hold;symbol,F;show,true;color,red;description,"dispatch flush due to fx issue queue hold"
dispatch_flush_L2_miss;symbol,L;show,true;color,red;description,"dispatch flush due to L2 miss"
dispatch_flush_ran_out_of_biqs;symbol,B;show,true;color,red;description,"dispatch flush due to ran out of BIQs (Branch Information Queue)"
dispatch_flush_too_long_since_complete;symbol,C;show,true;color,red;description,"dispatch flush due to too long since complete"
dispatch_flush_pteg_fetch;symbol,P;show,true;color,red;description,"dispatch flush due to pteg fetch"


store_data_store_busy;symbol,l;show,true;color,red;description,"Store must wait for previous store to finish"
store_data_blocked_wb;symbol,w;show,true;color,red;description,"Store data blocked by data comming signal"
store_data_block_holdoff;symbol,h;show,true;color,red;description,"Store data blocked by store holdoff signal"
store_data_dump_L2;symbol,D;show,true;color,blue;description,"Store data sent data to L2"
store_data_inval_lmq;symbol,i;show,true;color,cyan;description,"Store data invalidated LMQ (load miss queue) entry as it has the newer data"
dcbz_inval_lmq;symbol,z;show,true;color,cyan;description,"DCBZ invalidated LMQ (load miss queue) entry"
store_data_inval_lmq2;symbol,i;show,true;color,cyan;description,"Store data invalidated LMQ (load miss queue) entry as it has the newer data"
store_data_released_SRQ;symbol,S;show,true;color,blue;description,"Store data released SRQ (store reorder queue) entry"


# lsu
load_reject_result_bus_busy;symbol,a;show,true;color,red;description,"load reject due to result bus busy"
load_reject_erat_dir_update;symbol,b;show,true;color,red;description,"load reject due to erat dir update"
load_reject_L1_dir_update;symbol,c;show,true;color,red;description,"load reject due to L1 dir update"
load_reject_miss_erat;symbol,d;show,true;color,red;description,"load reject due to miss erat"
load_reject_miss_erat_and_tlb;symbol,e;show,true;color,red;description,"load reject due to miss erat and tlb"
load_reject_hit_dcbz;symbol,f;show,true;color,red;description,"load reject due to hit dcbz"
load_reject_hit_sync;symbol,g;show,true;color,red;description,"load reject due to hit sync"
load_reject_hit_stwcx;symbol,h;show,true;color,red;description,"load reject due to hit stwcx"
load_reject_lwarx_hit_lwarx;symbol,i;show,true;color,red;description,"load reject due to lwarx hit lwarx"
load_reject_load_hit_store_diff_grp_no_sdq;symbol,j;show,true;color,red;description,"load reject due to load hit store diff group data not ready"
load_reject_load_hit_store_diff_grp_not_cont;symbol,k;show,true;color,red;description,"load reject due to load hit store diff group addr not contained"
load_reject_load_hit_store_partial_EA_cmp;symbol,w;show,true;color,red;description,"load reject due to load hit store partial EA compare"
load_reject_load_hit_L1_prefetch;symbol,l;show,true;color,red;description,"load reject due to load hit L1 prefetch"
load_reject_load_hit_busy_bank;symbol,m;show,true;color,red;description,"load reject due to load hit busy bank"
load_reject_miss_L1_and_ntc_load_rejecting;symbol,n;show,true;color,red;description,"load reject due to miss L1 and NTC (next to complete) load rejecting"
load_reject_miss_L1_and_addr_match_other_side;symbol,o;show,true;color,red;description,"load reject due to miss L1 and addr match other side"
load_reject_miss_L1_and_lmq_no_room;symbol,p;show,true;color,red;description,"load reject due to miss L1 and full LMQ (load miss queue)"
load_reject_miss_L1_and_lmq_invalidated;symbol,q;show,true;color,red;description,"load reject due to miss L1 and LMQ (load miss queue) invalidated by data returning"
load_reject_miss_L1_and_lmq_coming_signal;symbol,r;show,true;color,red;description,"load reject due to miss L1 and data coming signal same cycle"
load_reject_miss_L1_and_lmq_same_cycle;symbol,s;show,true;color,red;description,"load reject due to miss L1 and LMQ (load miss queue) same cycle"
load_reject_miss_L1_and_lmq_on_lwarx;symbol,t;show,true;color,red;description,"load reject due to miss L1 and hit on lwarx"
load_reject_miss_L1_and_cong_class_busy;symbol,u;show,true;color,red;description,"load reject due to miss L1 and congruence class busy"
load_reject_miss_L1_and_no_lmq;symbol,v;show,true;color,red;description,"load reject due to miss L1 and no LMQ (load miss queue) entry free"
load_reject_write_coll;symbol,q;show,true;color,red;description,"load reject due to collision with L1 write"

load_reject_miss_L1_and_L2_req;symbol,e;show,true;color,red;description,"load reject due to L2 touch request this cycle"
load_reject_LHS_store_not_ready;symbol,q;show,true;color,red;description,"load reject due hit store but store not ready"
load_reject_lwarx_waits_on_lwarx;symbol,b;show,true;color,red;description,"load reject lwarx waiting on previous lwarx"

store_reject_need_srq;symbol,s;show,true;color,red;description,"store reject due to lack of SRQ (store reorder queue) entry"
store_reject_result_bus_busy;symbol,r;show,true;color,red;description,"store reject due to results bus busy"
store_reject_L1_dir_update;symbol,u;show,true;color,red;description,"store reject due to L1 directory update conflict"
store_reject_erat_dir_update;symbol,w;show,true;color,red;description,"store reject due to erat update conflict"
store_reject_L1_prefetch;symbol,w;show,true;color,red;description,"store reject due to L1 prefetch conflict"

load_data_coming_sig;symbol,!;show,true;color,blue;description,"load data coming signal"
load_data_coming_sig_crital;symbol,$;show,true;color,green;description,"load data coming signal for critical sector"

hit_L1_5;symbol,H;show,true;color,blue;description,"hit L1.5"
load_reject_hit_req;symbol,r;show,true;color,red;description,"load reject due to collision other LSU request"

load_makes_gps_request;symbol,G;show,true;color,green;description,"load makes gps (memory) request"
load_hit_store_forward_same_grp;symbol,b;show,true;color,blue;description,"load store forward same group"
load_hit_store_forward_diff_grp;symbol,c;show,true;color,blue;description,"load store forward diff group"
load_hit_reload;symbol,r;show,true;color,blue;description,"load hit reload, load see previous miss to same line, joins"
load_prefetch_touch_L2;symbol,e;show,true;color,blue;description,"load prefetch touch L2"
load_prefetch_issue_touch_L1;symbol,f;show,true;color,blue;description,"load prefetch issue touch L1"
load_prefetch_killed_ntc_load_rejecting;symbol,w;show,true;color,red;description,"load prefetch killed due to ntc load rejecting"
load_prefetch_killed_hit_lmq;symbol,x;show,true;color,red;description,"load prefetch killed due to hit_ mq"
load_prefetch_killed_cong_class_busy;symbol,y;show,true;color,red;description,"load prefetch killed due to congruence class busy"
load_prefetch_killed_no_lmq;symbol,z;show,true;color,red;description,"load prefetch killed due to no LMQ (load miss queue) entry free"
load_flush_hit_dcbz;symbol,A;show,true;color,red;description,"load flush due to hit dcbz"
load_flush_load_hit_store_same_grp;symbol,B;show,true;color,magenta;description,"load flush due to load hit store same group"
load_reject_smt_no_lrq;symbol,0;show,true;color,red;description,"load_reject_smt_no_lrq"

load_flush_hit_dcbz;symbol,e;show,true;color,magenta;description,"load flush due to hit dcbz"
load_flush_load_hit_store_same_grp;symbol,f;show,true;color,magenta;description,"load flush due to load hit store same group"
mtmsr_flush;symbol,g;show,true;color,magenta;description,"mtmsr flush"
lwarx_flush_hit_younger_load;symbol,h;show,true;color,magenta;description,"lwarx flush due to hit younger load"
lwarx_flush_hit_younger_lwarx;symbol,i;show,true;color,magenta;description,"lwarx flush due to hit younger lwarx"
load_flush_misalligned;symbol,j;show,true;color,magenta;description,"load flush due to misalligned load"
isync_flush_on_context_switch;symbol,k;show,true;color,magenta;description,"isync flush on context switch"
dcbz_flush_hit_younger_load;symbol,l;show,true;color,magenta;description,"dcbz flush due to hit younger load"
store_flush_hit_load_same_group;symbol,m;show,true;color,magenta;description,"store flush due to hit load same group"
store_flush_hit_load_diff_group;symbol,n;show,true;color,magenta;description,"store flush due to hit load diff group"
branch_flush_guessed_wrong;symbol,p;show,true;color,magenta;description,"branch flush due to guessed wrong"
erat_updated;symbol,e;show,true;color,cyan;description,"erat updated occured"

inst_flushed;symbol,@;show,true;color,red;description,"instruction was flushed"

ifetch_killed;symbol,k;show,true;color,red;description,"ifetch killed"
ifetch_hit_lbuf;symbol,h;show,true;color,green;description,"ifetch hit in prefetch buffer"
ifetch_made_gps_req;symbol,g;show,true;color,green;description,"ifetch made gps (memory) request"
ifetch_missed_ierat;symbol,i;show,true;color,red;description,"ifetch missed the ierat"
ifetch_missed_itlb;symbol,t;show,true;color,red;description,"ifetch missed the itlb"
ifetch_update_ierat;symbol,e;show,true;color,cyan;description,"ierat updated"
ifetch_got_tlb_arb;symbol,a;show,true;color,green;description,"after ierat miss got the tlb arbiter"
ifetch_tlb_read;symbol,r;show,true;color,green;description,"ifetch reading the itlb"
ifetch_hit_tlb;symbol,h;show,true;color,blue;description,"ifetch hit in the itlb"
ifetch_itlb_tablewalk;symbol,w;show,true;color,red;description,"ifetch missed tlb and is doing a tablewalk"
iftech_itlb_updated;symbol,u;show,true;color,cyan;description,"itlb updateded"

emq_tlb_request_fail;symbol,k;show,true;color,red;description,"TLB request failed -> congurance class  conflict with a NTC on the other side"
emq_tlb_request_cleared_other;symbol,c;show,true;color,green;description,"TLB request cleared other sieds emq (erat miss queue)"
emq_tlb_request_lookup;symbol,l;show,true;color,green;description,"TLB request doing tlb lookup"
emq_tlb_request_tlb_arb;symbol,a;show,true;color,blue;description,"TLB request got TLB arbiter to do TLB read"
emq_tlb_request_tlb_hit;symbol,H;show,true;color,blue;description,"TLB request hit in TLB"
emq_tlb_request_tlb_miss;symbol,M;show,true;color,red;description,"TLB request missed the TLB"
emq_tlb_request_tlb_miss_not_ntc;symbol,n;show,true;color,red;description,"TLB request killed -> inst not NTC (next to complete)"
emq_tlb_request_tablewalk;symbol,w;show,true;color,green;description,"TLB request doing a tablewalk"
emq_tlb_request_update_tlb;symbol,U;show,true;color,blue;description,"TLB updated"
emq_tlb_request_emq_stolen;symbol,s;show,true;color,red;description,"emq (erat miss queue) stolen -> try to aquire again"

emq_aquire_in_prog;symbol,p;show,true;color,red;description,"failed emq (erat miss queue) aquire due to request in flight"
emq_aquire_taken_by_ntc;symbol,n;show,true;color,red;description,"failed emq (erat miss queue) aquire due to emq taken by NTC"
emq_aquire_cg;symbol,c;show,true;color,red;description,"failed emq (erat miss queue) aquire due to congurance class conflit w/ other side"
emq_aquire_taken;symbol,t;show,true;color,red;description,"failed emq (erat miss queue) aquire due to emq taken"
emq_aquired;symbol,A;show,true;color,blue;description,"aquired emq (erat miss queue)"

# ifetch_unit_tr1
ifar_tr1;symbol,a;show,true;color,blue;state_machine,ifetch_unit_tr1;description,"ifar_tr1"
wait_for_translation_tr1;symbol,b;show,true;color,cyan;state_machine,ifetch_unit_tr1;description,"wait_for_translation_tr1"
wait_for_icache_miss_tr1;symbol,c;show,true;color,cyan;state_machine,ifetch_unit_tr1;description,"wait_for_icache_miss_tr1"
br_unit_redirect_tr1;symbol,d;show,true;color,blue;state_machine,ifetch_unit_tr1;description,"br_unit_redirect_tr1"
bht_redirect_tr1;symbol,e;show,true;color,blue;state_machine,ifetch_unit_tr1;description,"bht_redirect_tr1"
flush_tr1;symbol,f;show,true;color,red;state_machine,ifetch_unit_tr1;description,"flush_tr1"
gs_clb_full_flush_tr1;symbol,g;show,true;color,red;state_machine,ifetch_unit_tr1;description,"gs_clb_full_flush_tr1"
write_icache_sector_tr1;symbol,h;show,true;color,blue;state_machine,ifetch_unit_tr1;description,"write_icache_sector_tr1"

# ifetch_unit_tr2
ifar_tr2;symbol,a;show,true;color,blue;state_machine,ifetch_unit_tr2;description,"ifar_tr2"
wait_for_translation_tr2;symbol,b;show,true;color,cyan;state_machine,ifetch_unit_tr2;description,"wait_for_translation_tr2"
wait_for_icache_miss_tr2;symbol,c;show,true;color,cyan;state_machine,ifetch_unit_tr2;description,"wait_for_icache_miss_tr2"
br_unit_redirect_tr2;symbol,d;show,true;color,blue;state_machine,ifetch_unit_tr2;description,"br_unit_redirect_tr2"
bht_redirect_tr2;symbol,e;show,true;color,blue;state_machine,ifetch_unit_tr2;description,"bht_redirect_tr2"
flush_tr2;symbol,f;show,true;color,red;state_machine,ifetch_unit_tr2;description,"flush_tr2"
gs_clb_full_flush_tr2;symbol,g;show,true;color,red;state_machine,ifetch_unit_tr2;description,"gs_clb_full_flush_tr2"
write_icache_sector_tr2;symbol,h;show,true;color,blue;state_machine,ifetch_unit_tr2;description,"write_icache_sector_tr2"

# color choices are: black, blue, cyan, red, green, magenta, white, yellow, orange

#section that maps info_type names to other info 
.info_type

# positions start on the right with 0 and move left


iop_number;scroll_column,true;show,true;format,dec_32;position,0;description,"Iop Id"
image;scroll_column,true;show,true;format,diss;position,1;description,"Mnemonic"

arch_number;scroll_column,true;show,false;format,dec_32;description,"Arch Id"
write_regs;scroll_column,true;show,false;concatenate,true;format,M1RegDecode;description,"Write Regs"
read_regs;scroll_column,true;show,false;concatenate,true;format,M1RegDecode;description,"Read Regs"

i_address;scroll_column,true;show,true;format,hex_32;position,2;description,"Inst Addr"
d_address;scroll_column,true;show,true;format,hex_32;position,3;description,"Data Addr"
mnemonic;scroll_column,false;show,false;description,"Mnemonic"

#section that maps resource_id names to other info
.resource_id


#section that maps coloring names to other info
.coloring

#section that identifies names for state-machines
.state_machine

ifetch_unit_tr1;position,0;show,true;view_with,trace_1
ifetch_unit_tr2;position,0;show,true;view_with,trace_2
